.filter-bar-container {}

.filter-bar-container .dropdown-menu {
    width: 40rem;
}

.filter-bar-container .btn {
    min-width: 100px;
}

.filter-bar-container .filter-btn {
    border   : 2px solid rgba(57, 57, 57, 0.5);
    padding  : 5px 0;
    min-width: 140px;
}

.filter-bar-container .filter-btn:hover {
    border-color: rgb(50, 126, 234);
    color       : rgb(50, 126, 234);
}