.main {
        display: flex;
        height: auto;
        width: 100%;
        position: sticky;
        background-color: #000000;
        color: white;
        top: 0px;
        flex-wrap: wrap;
    }

.Logo {
        margin-left: 90px;
        margin-top: 5px;
        background-color: red;
        text-align: center;
        font-size: 45px;
    }

.Timkiem {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

.Timkiem input {
        border-radius: 10px;
        background-color: #D9D9D9;
        padding-left: 30px;
        height: 35px;
    }
.Timkiem button{
    border-radius: 10px;
    height: 35px;
}


.Taikhoan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

.menu{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    height: 30px;
}

.itemMenu{
    width: 20%;
    color: black;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}