@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DBE4D8;
}

.container-fluid , .row{
  margin: 0  ;
  padding: 0 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.borderRadius{
  border-radius: 20px;
}